* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://winedharma.com/wine-dharma/uploads/2020/10/3116-paloma-cocktail-con-tequila-succo-di-lime-e-soda-al-pompelmo-drink-messicano.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(218, 69, 0);
    background-repeat: no-repeat;
    
}

.container h1{
    font-size:40px;
    color: rgb(218, 69, 0);
}

.card {
    background-color: lightblue;
    border-radius: 20px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;

}

.card-content {
    height: 50%;
}

.title {
    padding: 10px;
}

.instruction {
    padding: 10px;
    text-align: center;
    padding-bottom: 10px;
}

#cocktail {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    background-color: transparent;
    color: rgb(218, 69, 0);

}

#scegli {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(218, 69, 0);
}
#scegli:hover{
    background-color: rgb(170, 54, 0);;
}